

/* Screens Resolution : 992px
-------------------------------------------------------------------------- */
@media only screen and (max-width: 1200px) {

}

/* Screens Resolution : 992px
-------------------------------------------------------------------------- */
@media only screen and (max-width: 992px) {
	
	

}


/* Screens Resolution : 767px
-------------------------------------------------------------------------- */
@media only screen and (max-width: 767px) {
	
	/* ---------------------------------
	1. PRIMARY STYLES
	--------------------------------- */

	p{ line-height: 1.4; }

	h1{ font-size: 3.8em; line-height: 1; margin-bottom: 35px; }
	h2{ font-size: 2.2em; line-height: 1.1; }
	h3{ font-size: 1.8em; }
	img{ width: 70%; 
		padding-top: -50px;
		
		}
		.email-input{
			width:80%;
			margin-left: 15px;
			margin-bottom: 25px;
			margin-top: 20px;
		}
		.load-img img {
			width: 55%;
		}
		.main-area .notify-btn{ 
			padding: 20px 55px;
			border-radius: 50px;
			border: 2px solid red;
			font-size: 15px;
			color: #fff;
			background: rgba(255, 0, 0, 0.692); }

			.info-text p{
				font-size: 12.2px;
				font-weight: lighter;
			}
			.main-area .social-btn{ position: absolute; bottom: 10%; width: 100%; left: 50%; transform: translateX(-50%); }

			.main-area{ position: relative; height: 105vh; z-index: 2; padding: 0 20px; background-size: cover; color: #fff; bottom: 5%; }

			.full-screen{
				position: relative;
				height: 100vh;
				width: 100vw;
				overflow: hidden;
				
			}
	/*.main-area center-text	video{
			position: absolute;
			width: 100%;
			height: 100vh;
			visibility: hidden;
		}*/
	
	
}

/* Screens Resolution : 479px
-------------------------------------------------------------------------- */
@media only screen and (max-width: 479px) {

	/* ---------------------------------
	1. PRIMARY STYLES
	--------------------------------- */

	body{ font-size: 12px; }
	
}

/* Screens Resolution : 359px
-------------------------------------------------------------------------- */
@media only screen and (max-width: 359px) {
	
	
}

/* Screens Resolution : 290px
-------------------------------------------------------------------------- */
@media only screen and (max-width: 290px) {
	
	
}